.single-post-container {
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    height: 11rem;
    background-color: white;
    margin-bottom: 25px;
}

.single-post-wrapper {
    padding-left: 40px;
    padding-right: 20px;
}

.single-post-header {
    font-weight: bold;
    display: inline-block !important;
    position: relative;
    
    left: 30px;
    top: 10px;
    width: 95%;
  
}

.single-post-date {
    float: right;
    font-weight: 300 !important;
    font-size: 12 !important;
    color: rgb(84, 88, 113);
    font-family: BasicSans; 

}

.single-post-creator {
    display: inline;
    position: relative;
    left: 50px;
    font-size: 20px;
    color: rgb(84, 88, 113);
    font-weight: bold !important;
    font-family: 'BasicSans';
}

.single-post-type {
    position: relative;
    left: 30px;
    padding-top: 10px;
    color: rgb(84, 88, 113);
    font-size: 14px;
    font-family: 'BasicSans';
}

.single-post-title {
    position: relative;
    top: 10px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 20px;
    font-family: 'BasicSans';
    color: rgb(84, 88, 113)
}


.single-post-description-box {
    margin-top: 10px;
    padding-top: 10px;
    height: 70px;
}

.single-post-description-text {
    font-weight: 300;
    font-family: 'BasicSans';
    font-size: 15px;
    padding-left: 20px;
    overflow-y: scroll;
    color: rgb(84, 88, 113);
    height: 90%;
   
}

.single-post-detailButton-box {
    padding-right: 20px;  
    width: 100%;
    height: 30px;  
    position: relative;
    bottom: 10px;
}
.single-post-detailButton {
    float: right !important;
    padding: 5px 5px 5px 5px !important;
}



.posts-container {
    width: 100%;
    height: 80vh;
    padding-left: 30px;
    padding-right: 30px;
}

.posts-header {
    width: 100%;
    height: 10vh;
}

.posts-homeOutLined {
    font-size: 35px;
    margin-left: 50px;
    margin-bottom: 50px;
    flex-flow:"row warp"
}