.creat-post-cancel {
  position: absolute;
  right: 10px;
  margin-right: 100px;
}

.create-post-text-area {
    position: static !important;
}
.creat-post-send {
  border: 1px white solid;
  position: relative;
  /*background-image: url("./Logo/Logo.jpeg");*/
  float: left;
  width: 50%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid #ff0000;
}
