.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1000;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.left-image-box {
  /*border: 1px white solid;*/
  position: relative;
  float: left;
  width: 315px;
  height: 370px;
  background-image: url("./Logo/Logo.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.Hero {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 100;
}
.form-box {
  width: 630px;
  height: 370px;
  position: relative;
  margin: 10% auto;
  background: #fff;
  overflow: hidden;
  z-index: 10;
}

.button-box-li {
  border: 1px solid;
  width: 220px;
  margin: 20px 350px;
  position: absolute;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.toggle-btn-li {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none !important;
  position: relative;
}

#btn_li {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #8bcdcd, #3797A4);
  border-radius: 30px;
  transition: 0.5s;
}

.input-group_li {
  top: 80px;
  left: 320px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0px;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.sumbit-btn-li {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #b2deec;
  border: 0;
  outline: none !important;
  border-radius: 30px;
}

.check-box {
  margin: 30px 10px 30px 0;
}

.spanText {
  color: #777;
  font-size: 12px;
  bottom: 20px;
  /*position: absolute;*/
}

.wrapper {
  /*border: 1px solid red;*/
  position: relative;
  margin: 5px 0;
  display: flex;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.faeye {
  /*border: 1px solid red;*/
  margin: auto 0;
}

.input-field-password {
  width: 100%;
  padding: 10px 0;
  /*margin: 5px 0;*/
  border-left: 0px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  outline: none;
  background: transparent;
}
