
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    padding: 0px;
    background-color: rgba(0,0,0, 0.5);
}

.left-image{
    border:1px white solid ;
    position: relative;
    background-image: url("./Logo/Logo.jpeg");
    float: left;
    width: 50%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*border: 1px solid #ff0000;*/
}

.Hero {
    height: 100%;
    width: 100%;
}
.form-box {
    width: 630px;
    height: 370px;
    position: relative;
    margin: 10% auto;
    background: #fff;
    overflow: hidden;
}

.button-box {
    border:1px solid;
    width: 220px;
    margin: 20px 350px;
    position: absolute;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: 0.5s;
}

.input-group {
    top: 80px;
    left: 320px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0px;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.sumbit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

.spanText {
    color: #777;
    font-size: 12px;
    bottom: 20px;
    /*position: absolute;*/
}

