.popup_email_li {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
.Hero_email_li {
    border: 1px red solid;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 100;
}

.center-mail-box-li{
    border:2px blue solid;
    border-radius: 15px;
    width: 500px;
    height: auto;
    position: relative;
    margin: 20% auto;
    background: #fff;
    /*overflow: hidden;*/
    z-index: 10;
}
